#root {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.cardFilme{
  display: flex;
  border: 2px solid #4d4c4c;
  border-radius: 8px;
  padding: 10px;
}

.cardFilme > img{
  width: 200px;
  height: 300px;
  margin-right: 10px;
}

.listaCards {
  display: grid;
  grid-template-columns: auto auto auto;
  column-gap: 20px;
  row-gap: 12px;
  padding: 10px;
}