*{
    padding: 0px;
    margin: 0px;
}
body{
    background-color: #0E0E0E;
}
.adocao{
    font-family: "Roboto", sans-serif;  
    text-align: center;
    font-weight: 900;
    color: white;
    font-size: 45px;
    padding-top: 10px;
    padding-bottom: 35px;
}
.div{
    display: flex;
    padding-bottom: 100px;
}
.img{
    max-height: 500px;
    min-width: 500px;
    padding: 0px 70px;
}
.nome{
    font-family: "Roboto", sans-serif;  
    font-weight: 700;
    color: white;
    font-size: 33px;
    padding-bottom: 5px;
}
.lorem{
    font-family: "Roboto", sans-serif;  
    color: #828282;
    font-size: 20px;
    padding-bottom: 20px;
}
.Cat-Gen{
    font-family: "Roboto", sans-serif;  
    color: white;
    font-size: 16px;
    font-weight: 500;
    padding-bottom: 5px;
    text-transform: uppercase;
}
.estrela{
    max-height: 30px;
    padding: 20px 0px;
}
.valor{
    font-family: "Roboto", sans-serif;  
    font-weight: 700;
    color: white;
    font-size: 44px;
    padding-top: 20px;
}
.juros{
    font-family: "Roboto", sans-serif;  
    color: white;
    font-size: 20px;
    padding-bottom: 30px;
}
.amarelo{
    color: #F8C146;
}
.botao{
    background-color: red;
    border-radius: 5px;
    border: 0px;
    height: 60px;
    width: 450px;
    justify-content: center;
}
.botao:hover{
    background-color: darkred;
    cursor: pointer;
}
.botao a{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 18px;
}
.infos{
    font-family: "Roboto", sans-serif;  
    color: #FFC105;
    font-size: 16px;
    padding-top: 30px;
}
li{
    font-family: "Roboto", sans-serif;  
    color: white;
    font-size: 16px;
    font-weight: 500;
    padding-bottom: 5px;
    text-transform: uppercase;
    margin-left: 20px;
}