#root {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.obs{
  font-style: italic;
  font-size: small;
  color: rgb(36, 36, 36);
}

img{
  margin-left: 30px;
  cursor: pointer;
}

.estilo-vermelha{
  color: red;
}

.estilo-verde{
  color: green;
}

.estilo-amarela{
  color: yellow;
}