@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins";
}
.cartao{
    width: 25%;
    border: 2px solid black;
}
img{
    
}
.preco{
    color: orangered;   
    font-size: 22px;
}
.preco span{
    border: 1px solid;
    border-radius: 25px;
    color: white;
    background-color: orangered;
    font-size: 13px;
    margin-left: 5px;
}
.unid p{
    display: inline-block;
}
.val{
    margin-right: 120px;
}
h2{
    font-size: medium;
    text-transform: capitalize;
    margin-bottom: 8px;
}
p{
    color: rgb(97, 97, 97);
}